
.label {
    -fx-font-size: 50px;
    -fx-text-fill: white;
    -fx-background-color: black; /*a enlever c'est seulement pour voir*/
    -fx-font-weight: bold;
    -fx-font-family: OpenSymbol;
}
.button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#pane{
    -fx-background-image: url(https://c.pxhere.com/photos/1a/9d/stars_background_blue_photoshop_color_space_sky_dark-610854.jpg!d);
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}


