@font-face {
    font-family: 'Gravitas';
    src: url(../Font/Gravitas.otf);
}

.label {
    -fx-font-size: 75px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: 'Gravitas';

}
.button {
    -fx-font-size: 25px;
    -fx-font-family: OpenSymbol;
    -fx-font-weight: bold;
    -fx-padding: 15;
}
.button:hover {
    -fx-background-color: linear-gradient(Gray, white);
}

#pane{
    -fx-background-image:url(../images/background.png);
}




